modules = ["nodejs-24", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
VAPID_PUBLIC_KEY = "BK9NHaQ-1wsWZbDr0jrM7WmFKX4kZAyeTXmrOadbVm6Rpvog5zujW_jy-fMeia519jS9efnMKCX4UymaOulsJnI"
VAPID_PRIVATE_KEY = "2beo12Itbni1zGxnNRyAazkLX9tzrYpHCd4VJ5liMlI"
VAPID_SUBJECT = "mailto:sanad.technique@gmail.com"
